/* --------------------------------- */
/* nüt ändere hie                    */

.tempo {

}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	background: #000;
}

img {
    vertical-align: middle;
}

/* column layout */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
}

.row {
	/*width: 1024px;*/
	height: 100%;
	margin: 0 auto;
}

.column {
	width: 50%;

	float: left;
	min-height: 1px;
	padding: 0;
	position: relative;
}


/* layout */

.claim {
	position: absolute;
	left: 16.66667%;
	top: 70%;
	width: 70%;
	font-family: 'Courier New', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 22px;
	color: white;
	z-index: 500;
	border: 5px solid white;
	background-color: black;
	padding: 0px 15px; 
}

.claim > div {
	line-height: 1.1;
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
	white-space: nowrap;
}

.claim > div > .left {
	float: left;
}

.claim > div > .right {
	float: right;
	text-align: right;
}

.claim > div > .center {
	text-align: center;
	display: block;
}



/* http://freqdec.github.io/slabText/ */

.slabtexted .slabtext {
	/* display: -moz-inline-box; */
	display: inline-block;
    white-space: nowrap;
}

.slabtextinactive .slabtext {
	display: inline;
	white-space: normal;
	font-size: 1em !important;
	letter-spacing: inherit !important;
	word-spacing: inherit !important;
	/* *letter-spacing: 0 !important; */
	/* *word-spacing: 0 !important; */
}

.slabtextdone .slabtext {
	display: block;
}



/*
.byline {
	position: absolute;
	bottom: 28%;
	z-index: 2;
	width: 40%;

	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;

	padding-left: 6px;

	color: #e75294;

	-webkit-transform: rotate(-15.5deg) skewX(-15.5deg);

}
*/

.catcher {
	position: absolute;
	bottom: 0;

	/*
	width: 50%;

	font-size: 160px;
	line-height: 0.8;

	color: #fff;
	-webkit-text-stroke: 5px #000;
	*/
}

.catcher img {
	width: 75%;
}
